#header{
    min-height: 10%;
}
#body{
    min-height: 90%;
    margin-top: 3%;
}
#footer{
    min-height: 10%;
    margin-top: 3%;
}
#header, #body, #footer{
    margin-left: 10%;
    margin-right: 10%;
}
@viewport{
    width: extend-to-zoom;
    zoom:1.0;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom:1.0;
}
